body {
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu {
    display: block;
    width: 1920px;
    height: 1080px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bg-images/1.jpg);
}

.mainScreen {
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.mainScreen__title__one {
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.search {
    display: flex;
    justify-content: center;
}

.enter {
    width: 508px;
    height: 103px;
    padding-left: 21px;
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #AAAAAA;
    border-radius: 10px;
    margin-bottom: -50px;
}

.search__icon {
    justify-content: end;
}

a {
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
}

.london {
    display: block;
    width: 1920px;
    height: 1080px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bg-images/2.jpg);
}

.tokio {
    display: block;
    width: 1920px;
    height: 1080px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bg-images/3.jpg);
}

.miami {
    display: block;
    width: 1920px;
    height: 1080px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bg-images/4.jpg);
}

.forecast {
    display: block;
    width: 502px;
    height: 761px;
    margin-top: 159px;
    margin-left: 709px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.buttons {
    position: relative;
    right: 880px;
    top: 63px;
}

.button__back {
    position: relative;
    top: 159px;
    left: 604px;
    width: 75px;
    height: 75px;
    border: 1px solid gray;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-bottom: -155px;
}

.button__back:before {
    position: relative;
    left: 22px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #B0B0B0;
    border-bottom: 3px solid #B0B0B0;
    transform: rotate(45deg);
}

.button__search {
    position: relative;
    top: 260px;
    left: 525px;
    width: 75px;
    height: 75px;
    border: 1px solid #B0B0B0;
    background-color: #FFFFFF;
    border-radius: 50%;
} 

.button__search:before {
    position: relative;
    content: url(icons/search.png);
}

.weather__picture--chilly {
    width: 447px;
    height: 447px;
    margin-top: 26px;
    margin-left: 27px;
    background-image: url(forecast-images/chilly.jpg);
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;   
}

.weather__picture--rainy {
    width: 447px;
    height: 447px;
    margin-top: 26px;
    margin-left: 27px;
    background-image: url(forecast-images/rainy.jpg);
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;   
}

.weather__picture--sahara {
    width: 447px;
    height: 447px;
    margin-top: 26px;
    margin-left: 27px;
    background-image: url(forecast-images/sahara.jpg);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;   
}

.temperature {
    width: 153px;
    height: 155px;
    padding-top: 121px;
    padding-left: 147px;
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 192px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.temperature::after {
    content: '';
    display: block;
    width: 87px;
    position: relative;
    top: -43px;
    left: 35px;
    border-bottom: 3px solid #FFFFFF;
}

.title {
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 96px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #323232;
    margin-bottom: -25px;
}

.title__sub {
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #B0B0B0;
    margin-bottom: 5px;
}

.week {
    display: flex;
    justify-content: center;
}

.calendar {
    position: relative;
    left: 12px;
    margin-bottom: -10px;
}

.calendar--one::after {
    content: "12";
    position: relative;
    right: 36px;
    bottom: 7px;
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #323232;
}

.calendar--two::after {
    content: "13";
    position: relative;
    right: 36px;
    bottom: 7px;
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #323232;
}

.calendar--three::after {
    content: "14";
    position: relative;
    right: 36px;
    bottom: 7px;
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #323232;
}

.calendar--four::after {
    content: "15";
    position: relative;
    right: 36px;
    bottom: 7px;
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #323232;
}

.calendar--five::after {
    content: "16";
    position: relative;
    right: 36px;
    bottom: 7px;
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #323232;
}

.weather__icon {
    margin-bottom: -5px;
}

.number {
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #323232;
}